*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-header{
    display: flex;
    align-items: center;
    align-content: center;
}
#signinlink{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#signinlink img{
    margin-right: 5px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}